
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #90ffff;
}
/* maindiv*/
#maindiv {
    text-align:center;
    margin: 0 auto;
    width: 100%;
    height: auto;
}
/* find the penguin game title*/
#title {
    transition: 0.5s linear;
    display: inline-block;
    width: 100%;
    height: 1vw; 
    color: purple;
    text-shadow: 2px 4px 2px rgba(223, 212, 241, 0.7);
}
/* gameholder which contains penguin images */
#gameholder{
    width:80%;
    height:auto;
    display:block;
    position:absolute;
    left:50%;
    transform:translate(-50%);
    margin-top:1vw;
}
/* division to resides penguin picture as background*/
.penguins{
    width:21vw;
    height:13vw;
    display:block;
    float:left;
    margin:2vw;
    background:url("./images/cloude.png") center/cover;

}
/* if player clicks on yeti image*/
.text{
    text-align:center;
    font-size:7vw;
    padding:0px;
    margin:0;
}
/*positioning yeti image */
.yeti{
    position:relative;
    top:20vw;
    left: 50vw;
}
/* start new game button*/
.start{
    position:relative;
    left:50%;
    transform:translate(-50%);
    /* margin:0vw 0; */
    padding: 1.5vw;
    font-size:2.2vw;
    color: white;
    background-color: rgb(211, 45, 73);
    border: none;
}